@use "../globals/forward.scss" as *;

.footer {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 20px;
  max-width: 900px;
}

.sns {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.sns_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  > i {
    font-size: 50px;
  }
}

.twitter {
  @extend .sns_icon;
  background-color: #1da1f2;
  color: #dedede;
}

.github {
  @extend .sns_icon;
  background-color: #f2f3fe;
}

.attribution {
  font-size: 12px;
  color: #dedede;
  > a {
    color: #787878;
  }
}
