@use "../globals/forward.scss" as *;

.header {
  display: flex;
  justify-content: flex-end;
}

.hamburger_icon {
  padding: 25px;
  width: 36px;
  cursor: pointer;
}

.bar {
  display: block;
  height: 1px;
  background-color: white;
  &:nth-child(1) {
    margin-bottom: 12px;
  }
  &:nth-child(2) {
    margin-bottom: 12px;
  }
}

.hamburger_icon[data-is-open="true"] > .bar {
  width: 0;
  &:nth-child(1) {
    transition: 0.1s;
  }
  &:nth-child(2) {
    transition: 0.1s;
    transition-delay: 0.075s;
  }
  &:nth-child(3) {
    transition: 0.1s;
    transition-delay: 0.15s;
  }
}

.hamburger_icon[data-is-open="false"] > .bar {
  width: 36px;
  transition: 0.1s;
  transition-delay: 1s;
  &:nth-child(2) {
    width: 30px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1000;
  transition: 0.3s;
  transition-delay: 0.35s;
  &[data-is-open="false"] {
    opacity: 0;
    z-index: -100;
  }
}

.line {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    transparent 49.8%,
    white 50%,
    transparent 50.2%
  );
  transition: 0.35s ease-in-out;
  transition-delay: 0.35s;
  z-index: 1050;
  &[data-is-open="false"] {
    width: 0;
    height: 0;
    transition: 0.3s;
    transition-delay: 0.15s;
  }
}

// close button
.close_button {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 30px;
  height: 30px;
  opacity: 1;
  z-index: 1200;
  cursor: pointer;
  &[data-is-open="false"] {
    opacity: 0;
    z-index: -100;
  }
  @include tb {
    top: 120px;
    right: 15px;
  }
  @include sp {
    top: 25px;
    left: 25px;
  }
}

.close_button[data-is-open="true"] {
  > .cross_bar {
    position: absolute;
    background-color: #333;
    height: 1px;
    width: 42.426px;
    transition: 0.25s;
    transition-delay: 1.1s;
    @include sp {
      background-color: white;
    }
    &:nth-child(1) {
      top: 0;
      left: 0;
      transform-origin: left;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      bottom: 0;
      left: 0;
      transform-origin: left;
      transform: rotate(-45deg);
    }
  }
}

// triangle area
.triangle_area {
  position: fixed;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100vh solid white;
  border-left: 100vw solid transparent;
  z-index: 1100;
  transition: 0.4s ease;
  transition-delay: 0.6s;
  &[data-is-open="false"] {
    width: 100vw;
    height: 0;
    border-bottom: 0 solid white;
    border-left: 0 solid transparent;
    transition: 0.3s ease;
  }
}

// nav
.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 360px;
  height: 50vh;
  z-index: 1200;
  &[data-is-open="false"] {
    z-index: -100;
    opacity: 0;
  }
  @include tb {
    width: 220px;
  }
  @include sp {
    width: 150px;
  }
}

.nav_item[data-is-open="true"] {
  transition: 0.3s;
  transform: translateY(0);
  text-decoration: none;
  opacity: 1;
  &:nth-child(1) {
    transition-delay: 1s;
  }
  &:nth-child(2) {
    transition-delay: 1.1s;
  }
  &:nth-child(3) {
    transition-delay: 1.2s;
  }
  @include tb {
    display: flex;
    flex-direction: column;
  }
  @include sp {
    display: flex;
    flex-direction: column;
  }
}

.nav_item[data-is-open="false"] {
  transform: translateY(60px);
  text-decoration: none;
  opacity: 0;
}

.nav_text_en {
  color: #333;
  font-size: 32px;
  font-family: "Shrikhand", cursive;
  @include sp {
    font-size: 22px;
  }
}

.nav_text_ja {
  margin-left: 15px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  @include tb {
    margin-top: 10px;
    margin-left: 0;
  }
  @include sp {
    margin-top: 8px;
    margin-left: 0;
    font-size: 14px;
  }
}

.nav_sns {
  display: flex;
  gap: 60px;
  transition: 0.3s;
  transition-delay: 1.3s;
  transform: translateY(0);
  opacity: 1;
  &[data-is-open="false"] {
    transition: 0.15s;
    transform: translateY(60px);
    opacity: 0;
  }
  @include tb {
    gap: 20px;
  }
  @include sp {
    gap: 35px;
  }
}

.nav_twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  text-decoration: none;
  @include sp {
    width: 30px;
    height: 30px;
  }
  > img {
    width: 44px;
    height: 44px;
    @include tb {
      width: 34px;
      height: 34px;
    }
    @include sp {
      width: 28px;
      height: 28px;
    }
  }
}

.nav_github {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  text-decoration: none;
  @include sp {
    width: 30px;
    height: 30px;
  }
  > img {
    width: 44px;
    height: 44px;
    @include tb {
      width: 34px;
      height: 34px;
    }
    @include sp {
      width: 28px;
      height: 28px;
    }
  }
}
