@use "../globals/forward.scss" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  height: 90px;
}

.header__logo a {
  color: white;
  font-family: $FONT_PACIFICO;
  font-size: 40px;
  text-decoration: none;
}

.header__nav {
  display: flex;
  gap: 20px;

  > a {
    color: #dedede;
    font-size: 16px;
    text-decoration: none;
  }
}
