@use "./forward.scss" as *;

body {
  position: relative;
  font-family: Inter, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN,
    Hiragino Sans, Meiryo, sans-serif;
  background-color: $COLOR_BLACK;
  overflow-x: hidden;
}

.preload {
  animation: none;
}

#myRocket {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}
