@use "../globals/forward.scss" as *;

.title__wrapper {
  margin-top: 30px;
  text-align: center;

  @include tb {
    margin-top: 50px;
  }
}

.title {
  font-family: "Pacifico", sans-serif;
  font-size: 70px;
  color: #fff;

  @include tb {
    font-size: 60px;
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(3, 180px);
  justify-content: center;
  gap: 25px;
  margin: 34px auto;
  max-width: 900px;

  @include tb {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 350px;
  }
}

%base_tile_style {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  text-decoration: none;
}

.tile_notes {
  @extend %base_tile_style;
  position: relative;
  grid-row: 1/3;
  grid-column: 1/3;
  background: linear-gradient(180deg, #bfe9a7, #37725f);

  @include tb {
    margin: 0 auto;
    width: 350px;
    height: 350px;
  }
}

.tile_notes::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 120px;
  right: 0px;
  bottom: 0px;
  background-image: url("/images/tile-image-note.png");
  background-size: contain;
  background-repeat: no-repeat;

  @include tb {
    top: 90px;
    left: 90px;
  }
}

.tile_notes span {
  position: relative;
  bottom: 70px;
  left: -70px;
  font-size: 55px;
  color: #fff;
  font-weight: bold;
  font-family: "Shrikhand", cursive;

  @include tb {
    font-weight: 500;
    font-size: 50px;
    bottom: 80px;
    left: -40px;
  }
}

.tile_portforio {
  @extend %base_tile_style;
  position: relative;
  grid-column: 3/5;
  grid-row: 1/3;
  background: linear-gradient(45deg, #fa4b5d, #8278ee);

  @include tb {
    margin: 0 auto;
    width: 350px;
    height: 350px;
  }
}

.tile_portforio::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("/images/tile-image-portforio.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.tile_portforio span {
  position: relative;
  bottom: 70px;
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  font-family: "Shrikhand", cursive;

  @include tb {
    font-weight: 500;
    bottom: 60px;
    font-size: 50px;
  }
}

.tile_about {
  @extend %base_tile_style;
  position: relative;
  grid-column: 1/3;
  grid-row: 3/4;
  background: linear-gradient(180deg, #fefba3, #f2951a);

  @include tb {
    margin: 0 auto;
    width: 350px;
    height: 165px;
  }
}

.tile_about::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 0px;
  right: 50px;
  border-radius: 0 0 0 30px;
  background-image: url("/images/tile-image-about.png");
  background-size: contain;
  background-repeat: no-repeat;

  @include tb {
    top: 40px;
    right: 40px;
    border-radius: 0 0 0 15px;
  }
}

.tile_about span {
  position: relative;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  &:first-child {
    font-size: 50px;
    top: -25px;
    left: 80px;

    @include tb {
      top: -10px;
      left: 80px;
      font-size: 40px;
      font-weight: 500;
    }
  }
  &:last-child {
    bottom: -25px;
    right: -35px;

    @include tb {
      bottom: -30px;
      left: 0px;
      font-size: 40px;
    }
  }
}

%tile_sns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 30px;
  font-size: 55px;
  text-decoration: none;

  @include tb {
    height: 160px;
    width: 160px;
    font-size: 40px;
    border-radius: 30px;
  }

  > img {
    width: 55px;
    height: 55px;

    @include tb {
      width: 40px;
      height: 40px;
    }
  }
}

.snsTiles {
  display: flex;
  justify-content: space-between;
  grid-column: 3/5;
  grid-row: 3/4;

  @include tb {
  }
}

.tile_twitter {
  @extend %tile_sns;
  color: $COLOR_WHITE;
  background: linear-gradient(-45deg, #2071bc, #93cafd);
}

.tile_github {
  @extend %tile_sns;
  color: #333;
  background: linear-gradient(-45deg, #9f8ad6, #d1c6f0);
}

.tile_animation {
  animation: tileOver 0.3s;
  &:hover {
    animation: tileHover 0.2s forwards;
  }
  @include tb {
    animation: none;
    &:focus {
      animation: categoryButtonClick 0.3s;
    }
    &:hover {
      animation: none;
    }
  }
}

@keyframes tileHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

@keyframes tileOver {
  0% {
    transform: scale(1.08);
  }
  25% {
    transform: scale(0.92);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  75% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tileClick {
  from {
    transform: scale(1);
  }
  25% {
    transform: scale(0.92);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  75% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}
